version: "3"

volumes:
  db-data:
  wait-tool:
  
services:
  nsiws-stable:
    image: siscc/dotstatsuite-core-sdmxri-nsi:master
    container_name: nsiws-stable
    ports:
      - "${NSI_STABLE_PORT}:80"
    environment:
        auth__Enabled: "true"
        auth__authority: http://${LOCALHOST_STANDIN}:${KEYCLOAK_PORT}/auth/realms/OECD
        auth__clientId: app
        auth__requireHttps: "false"
        auth__validateIssuer: "false" 
        auth__claimsMapping__email: email
        auth__claimsMapping__groups: groups
        auth__allowAnonymous: "true"
        DotStatSuiteCoreCommonDbConnectionString: Server=db;Database=${COMMON_DB};User=${COMMON_DB_USER};Password=${COMMON_DB_PWD};
        SpacesInternal__0__Id: CamStat-stable
        SpacesInternal__0__DotStatSuiteCoreStructDbConnectionString: Server=db;Database=${STRUCT_DB_STABLE};User=${STRUCT_DB_STABLE_USER};Password=${STRUCT_DB_STABLE_PWD};            
        SpacesInternal__0__DotStatSuiteCoreDataDbConnectionString: Server=db;Database=${DATA_DB_STABLE};User=${DATA_DB_STABLE_USER};Password=${DATA_DB_STABLE_PWD};
        SpacesInternal__0__DataImportTimeOutInMinutes: 2
        SpacesInternal__0__DatabaseCommandTimeoutInSec: 60   
        SpacesInternal__0__AuthEndpoint: auth-service
        SpacesInternal__0__AutoLog2DB: "true"
        SpacesInternal__0__AutoLog2DBLogLevel: "Notice"
        SQL_SERVER: db
        SQL_DATABASE: ${STRUCT_DB_STABLE}
        SQL_USER: ${STRUCT_DB_STABLE_USER}
        SQL_PASSWORD: ${STRUCT_DB_STABLE_PWD}      
        SENDER_ID: "Stable - DotStat v8"
        DATASPACE_ID: CamStat-stable            
        MA_DB_VERSION: 6.7
        MA_SQL_USER: sa
        MA_SQL_PASSWORD: ${SA_PASSWORD}
        #Persist
        MA_ALWAYS_RESET: N
        INSERT_NEW_ITEM_SCHEME_VALUES: "false"
    depends_on: 
      - auth-service
      - dbup-struct-stable
    volumes:
      - "./logs:/app/logs" 
      - wait-tool:/tool
    entrypoint: bash -c "/tool/wait4sql db '${STRUCT_DB_STABLE_USER}' '${STRUCT_DB_STABLE_PWD}' '${STRUCT_DB_STABLE}' && ./entrypoint.sh"          
        
  transfer-service:
      image: siscc/dotstatsuite-core-transfer:master
      container_name: transfer-service
      environment:
          auth__Enabled: "true"
          auth__authority: http://${LOCALHOST_STANDIN}:${KEYCLOAK_PORT}/auth/realms/OECD
          auth__clientId: app
          auth__authorizationUrl: http://${LOCALHOST_STANDIN}:${KEYCLOAK_HTTP_PORT}/auth/realms/OECD/protocol/openid-connect/auth
          auth__scopes__0: openid
          auth__scopes__1: profile
          auth__scopes__2: email
          auth__claimsMapping__email: email
          auth__claimsMapping__groups: groups
          auth__requireHttps: "false"
          auth__validateIssuer: "false"
          MaxTransferErrorAmount: 0 
          DefaultLanguageCode: en
          SmtpHost: ${SMTP_HOST}
          SmtpPort: ${SMTP_PORT}
          SmtpEnableSsl: ${SMTP_SSL}
          SmtpUserName: ${SMTP_USER}
          SmtpUserPassword: ${SMTP_PASSWORD}
          MailFrom: noreply@dlm.org
          MaxTextAttributeLength: 150
          DotStatSuiteCoreCommonDbConnectionString: Server=db;Database=${COMMON_DB};User=${COMMON_DB_USER};Password=${COMMON_DB_PWD};
          SpacesInternal__0__Id: CamStat-stable
          SpacesInternal__0__DotStatSuiteCoreStructDbConnectionString: Server=db;Database=${STRUCT_DB_STABLE};User=${STRUCT_DB_STABLE_USER};Password=${STRUCT_DB_STABLE_PWD};
          SpacesInternal__0__DotStatSuiteCoreDataDbConnectionString: Server=db;Database=${DATA_DB_STABLE};User=${DATA_DB_STABLE_USER};Password=${DATA_DB_STABLE_PWD}; 
          SpacesInternal__0__DataImportTimeOutInMinutes: 2
          SpacesInternal__0__DatabaseCommandTimeoutInSec: 60
          SpacesInternal__0__AutoLog2DB: "true"
          SpacesInternal__0__AutoLog2DBLogLevel: "Notice"
      volumes:
        - "./logs:/app/logs" 
      ports:
        - "${TRANSFER_PORT}:80"
      depends_on: 
        - auth-service
        - dbup-data-stable
        - dbup-struct-stable
            
  auth-service:
      image: siscc/dotstatsuite-core-auth-management:master
      container_name: auth-service
      environment:
          auth__enabled: "true"
          auth__authority: http://${LOCALHOST_STANDIN}:${KEYCLOAK_PORT}/auth/realms/OECD
          auth__clientId: app
          auth__authorizationUrl: http://${LOCALHOST_STANDIN}:${KEYCLOAK_HTTP_PORT}/auth/realms/OECD/protocol/openid-connect/auth
          auth__scopes__0: openid
          auth__scopes__1: profile
          auth__scopes__2: email
          auth__claimsMapping__email: email
          auth__claimsMapping__groups: groups
          auth__requireHttps: "false"
          auth__validateIssuer: "false"
          DotStatSuiteCoreCommonDbConnectionString: Server=db;Database=${COMMON_DB};User=${COMMON_DB_USER};Password=${COMMON_DB_PWD};
      volumes:
        - "./logs:/app/logs" 
      ports:
        - "${AUTH_PORT}:80"
      depends_on: 
        - dbup-common

  dbup-struct-stable:
      image: siscc/dotstatsuite-dbup:master
      container_name: dbup-struct-stable
      environment:
          EXECUTION_PARAMETERS: upgrade --connectionString Server=db;Database=${STRUCT_DB_STABLE};User=sa;Password=${SA_PASSWORD}; --mappingStoreDb --loginName ${STRUCT_DB_STABLE_USER} --loginPwd ${STRUCT_DB_STABLE_PWD} --force 
      depends_on: 
        - db
      volumes:
        - wait-tool:/tool
      entrypoint: bash -c "/tool/wait4sql db sa ${SA_PASSWORD} && dotnet DotStat.DbUp.dll $$EXECUTION_PARAMETERS"
      
  dbup-data-stable:
      image: siscc/dotstatsuite-dbup:master
      container_name: dbup-data-stable
      environment:
          EXECUTION_PARAMETERS: upgrade --connectionString Server=db;Database=${DATA_DB_STABLE};User=sa;Password=${SA_PASSWORD}; --dataDb --loginName ${DATA_DB_STABLE_USER} --loginPwd ${DATA_DB_STABLE_PWD} --force 
      depends_on: 
        - db
      volumes:
        - wait-tool:/tool
      entrypoint: bash -c "/tool/wait4sql db sa ${SA_PASSWORD} && dotnet DotStat.DbUp.dll $$EXECUTION_PARAMETERS"
        
  dbup-common:
      image: siscc/dotstatsuite-dbup:master
      container_name: dbup-common
      depends_on: 
        - db
      environment:
          EXECUTION_PARAMETERS: upgrade --connectionString Server=db;Database=${COMMON_DB};User=sa;Password=${SA_PASSWORD}; --commonDb --loginName ${COMMON_DB_USER} --loginPwd ${COMMON_DB_PWD} --force          
      volumes:
        - wait-tool:/tool          
      entrypoint: bash -c "/tool/wait4sql db sa ${SA_PASSWORD} && dotnet DotStat.DbUp.dll $$EXECUTION_PARAMETERS"
  
  db:
      image: mcr.microsoft.com/mssql/server:2017-latest-ubuntu 
      container_name: mssql
      ports:
        - "${SQL_PORT}:1433"
      environment:
        - SA_PASSWORD=${SA_PASSWORD}
        - MSSQL_PID=Developer
        - ACCEPT_EULA=Y
      depends_on: 
        - wait  
      volumes:
        - "db-data:/var/opt/mssql/data"          

  wait: 
    image: vigurous/wait4sql
    container_name: wait4sql
    volumes:
      - wait-tool:/tool
